$color-primario: #000;
$ancho: 300px;
$alto: 325px;
$subra: underline;
$font-weight: bold;


ol{
    list-style: none;
    li{
        padding: 20px;
        display: inline-block;
        color: blue($color: #000000);
    }
}
#tabla{color: black;
    border-color: grey;
    border-top: 5px;
    border-bottom: 5px;
    border-right: 5px;
    border-left: 5px}
    .italic{font-style: italic}
    .fondofuerte{background-image: linear-gradient(to right, black, grey, white) ;
    text-align: center;
    font-family: 'Poppins', sans-serif;}
    #menu {text-align: right; 
        word-spacing: 12px; 
        background-image: linear-gradient(to right, black, grey, white) ;
    padding: 0;}
    #menu li{display: inline-block;
    position: relative;
    }
    .submenu{position: absolute;
    display: none;
    background-color: grey}
    .submenu li a{color: black;
    text-align: center;}
    .submenu li{display: block}
    ul li:hover ul{display: block}
    .negro{color: black}
    .titulo{font-weight: bold;
    font-size: 30px;
    color: white;
    line-height: 30px;
    background-image: linear-gradient(to right, black, grey, white);
    text-align: left;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-name: aparecer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600}
    @keyframes aparecer{0% {opacity: 0;}
    100%{opacity: 1} }
    .comentarios{font-style: italic; 
    text-decoration: underline;
    }
    .container{display: flex;
    justify-content: space-around;
    width: 1300px;
    flex-flow: row wrap}
    .cara{flex-grow: 1;
    width: $ancho;
    height: $alto;}
    .spa{flex-grow: 1;
    height: $alto;}
    .unas{flex-grow: 1;
        width: $ancho;
        height: $alto;
    }
    #sobrenosotros{font-style: italic;
    display: grid;
    justify-content: start;
    grid-template-columns: 700px 100px 100px;
    grid-template-rows: 300px 100px}
    .imagenes{display: flex;
        flex-direction: row;
    justify-content: flex-start;
    }
    .imagenes .imagen1{background-image: linear-gradient(to right, black, grey, white);
    transform: translate(10px, 40px);
width: $ancho;
height: $alto;}
    .imagenes .imagen2{ 
        height: $alto;
        width: $ancho;
    }
    .texto{justify-content: center;
    background-color: black;
    color: white}
    .email:focus {transition: all 2s}
    #contacto #contactanos{
        font-weight: $font-weight;
        text-decoration: $subra;
    }
    .edad{text-decoration: $subra;}
    .email{text-decoration: $subra;}
    .sucursal{text-decoration: $subra;}
    .mensaje{text-decoration: $subra;}